{% extends 'padres/base.html' %}

{% comment %} ACÁ ESTA LO QUE SALE EN LA PESTAÑA{% endcomment %}
{% block titulo_pagina %}
<title>About</title>
{% endblock titulo_pagina %}

{% comment %}LE PUE ENCABEZADO A LO QUE SALE ADENTRO DE LA IMAGEN AZUL{% endcomment %}
{% block encabezado %}
<h1 class="mb-5">Quienes Somos</h1>
{% endblock encabezado %}

{% comment %}EL RESTO DEL CONTENDIO{% endcomment %}
{% block  mi_contenido %}
<h2>Quienes Somos</h2>
<h5>-este grupo esta compuesto por Nicolas Varela, Paloma Holgado y Nicolas Gonzalez.
    somos estudiantes de CoderHouse, quienes nos encontramos cursando Python con el profesor Cristian Biancotti y este es nuestro proyecto, version Intermedio.</h5>
{% endblock mi_contenido %}