{% extends 'padres/base.html' %}


{% comment %} ACÁ ESTA LO QUE SALE EN LA PESTAÑA{% endcomment %}
{% block titulo_pagina %}
<title>Ver Jugadores</title>
{% endblock titulo_pagina %}

{% comment %}LE PUE ENCABEZADO A LO QUE SALE ADENTRO DE LA IMAGEN AZUL{% endcomment %}
{% block encabezado %}
<h1 class="mb-5">Ver Jugadores</h1>
{% endblock encabezado %}


{% comment %}EL RESTO DEL CONTENDIO{% endcomment %}
{% block  mi_contenido %}

<h2>BUSCADOR DE JUGADORES</h2> 

<form action={% url 'ver-jugadores' %} method="GET"> 
    {{formulario}}
    <button>Buscar</button>
    <a class="navbar-brand" href={% url 'index'%}>Volver</a>

</form>
<p>
    {% if jugadores %}

        {% for jugador in jugadores %}
            <li> {{jugador.nombre}} {{jugador.apellido}} {{jugador.edad}} {{jugador.pais}} {{jugador.fecha_creacion}} </li>
        {% endfor %}

    {% else %}
        <p>no se encontraron resultados</p>
    {% endif %}

</p>

{% endblock mi_contenido %}