{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Ver Jugadores</title>
{% endblock title_pagina %}

{% block encabezado %}
<h1 class="mb-5">Ver Jugadores</h1>
{% endblock encabezado %}


{% block mi_contenido %}

<h2>Listado de Jugadores:</h2>

<form action={% url 'ver-jugadores' %} method="GET"> 
    {{formulario}}
    <button>Buscar</button>
    <a class="navbar-brand" href={% url 'index'%}>Volver</a>

</form>

<p>
    {% if jugadores %}

        {% for jugador in jugadores %}
            <li>
                {{jugador.nombre}} {{jugador.apellido}} {{jugador.edad}} {{jugador.pais}} {{jugador.fecha_creacion}}
                <a href={% url 'editar_jugador' jugador.id %}>Editar</a>
                <a href={% url 'eliminar_jugador' jugador.id %}>Eliminar</a>
            </li>
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
  
</p>

{% endblock mi_contenido %}